@model ResultadoBuscaCep

@{
    ViewData["Title"] = "Busca CEP";
}

<div id="busca-resultados" class="col-6-12" style="width:83%">
	<div class="informativoTopo" style="width:100%;">
		<div class="informativo">
			<h1 style="padding:0px;">Consulta por CEP</h1>
			Pesquise o CEP e identifique o endereço associado.<br />
			<!-- <b>Saiba mais <div class="desce"></div></b> -->
			<div class="saber-mais ds-none">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
	</div>
	Tipo: @Model.Tipo
	<form class="actExecutarFormCepAjax semMargin" method="post" action="https://sipweb6.sistemasth.com.br/sipweb/inc/ajax-ws.php">
		<div>
			<input type="hidden" name="f" value="ajaxGetCep" />
			<input type="hidden" name="elementoLoad" value="resultados" />

			<input type="hidden" name="txtCtrlLimpar" value="" />
		</div>
		<!--
		<a href="#" class="link-ajuda fr"><span class="sprite-ajuda hovop"></span></a>

		<h1>Busca por CEP</h1>
		-->
		<br />
		<div class="col-1-1 pr0">
			<label for="cep" class="im">CEP</label><br />
			<input type="text" maxlength="20" id="txtBscCep" name="txtBscCep" class="im customSize" value="02422170" />
			<input type="submit" value="Buscar" id="buscar" class="linka im hovop" style="border-radius: 5px;" />
			<input type="button" value="Limpar" id="limpar" class="linkb im hovop actLimparFormAjax" style="border-radius: 5px;" />
		</div>
		<span id="spanins" class="insucesso-buscas im mgr"></span>
		<div class="ar frm-set-btn fn">
			<div class="loading-btn"></div>
		</div>
	</form>

	<div id="container-resultados" style="display:block;">
		<div id="container-resultados-load">
			<div class="resultados">
				<h2>Endereços <div style="float: right;"> 1 Logradouro(s)</div></h2>
				<table id="resultadosCEP" class="tablesorter">
					<thead>
						<tr>
							<th style="padding-left: 2px;">Tipo</th>
							<th style="padding-left: 2px;">Endereço</th>
							<th align="center" style="text-align: center;">De</th>
							<th align="center" style="text-align: center;">Até</th>
							<th style="padding-left: 2px;">Lado</th>
							<th style="padding-left: 2px;">Bairro</th>
							<th style="padding-left: 2px;">Cidade</th>
							<th align="center" style="text-align: center;">UF</th>
							<th style="padding-left: 2px;">CEP</th>
							<th style="padding-left: 2px;">Observações</th>
						</tr>
					</thead>
					<tbody>

						<tr class="">
							<td><span>@Model.Tipo</span></td>
							<td><span>@Model.Endereco</span></td>
							<td align="center"><span>@Model.De</span></td>
							<td align="center"><span>@Model.Ate</span></td>
							<td align="left"><span>@Model.Lado</span></td>
							<td align="left"><span>@Model.Bairro</span></td>
							<td align="left"><span>@Model.Cidade</span></td>
							<td align="center"><span>@Model.UF</span></td>
							<td align="left"><span>@Model.CEP</span></td>
							<td><span class="min">@Model.Obs</span></td>
						</tr>
					</tbody>
				</table>
			</div><!-- Fim resultados enderecos -->
			<br />
			<span class="tempo-carregamento">Tempo de pesquisa interna: 0.204 seg</span>
		</div>
	</div>
</div>
